<div class="list-group">
  <a
    routerLink="/dashboard"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </a>
  <a
    routerLink="/customers"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    [routerLinkActiveOptions]="{ exact: true }"
    >Customers</a
  >
  <a
    routerLink="/orders"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    >Orders</a
  >
  <a
    routerLink="/customers/order-history"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    >Order History</a
  >
  <a
    routerLink="/customers/cart"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    tabindex="-1"
    >Cart</a
  >
</div>
